
/* Basic Styles & Font */
body {
    background-image: url(../images/clouds-3317458.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-size:12px;
    font-family: 'Aldrich', sans-serif;

}

header {
    padding: 2%;
}

h1{
    font-family: 'Stalinist One', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 5em;
    color:white;
    text-align: center;
}

h2 {
    font-size: 2em;
    color:white;
    text-align: center;
    margin-top: -2%;
}

h3 {
    text-align:center;
    font-size:1.5em;

}

h4 {
    text-align:center;
    font-size:1.25em;
}

figure{
    border: 1px solid white;
}

figcaption {
    width:100%;
    background-color:white;
    color: navy;
    text-align:center;
}

/* Character Display Section Styling */

.character-start-left img {
    width: 60%;
    height: auto;
    margin: 15% auto;
    display:block;
  
}


.character-start-right img{
    width: 60%;
    height: auto;
    margin: 15% auto;
    display:block;
    
}



.messages {
    background-color:black;
    color:rgb(117, 243, 128);
    width:120%;
    padding:1% 0 !important;
    margin-bottom: 2%;
    text-align: center;
    font-size: 2em;

}

.numOfWins {
    background-color: white;
    border: 2px solid black;
    color: black;
    padding: 2%;
}

.numOfLosses {
    background-color: white;
    border: 2px solid black;
    color: black;
    padding: 2%;
}

.random-number{
    background-color: black;
    border: 2px solid red;
    color: white;
    padding: 1%;
}

.player-tally{
    background-color: black;
    border: 2px solid red;
    color: white;
    padding: 1%;
}




/* Media Queries - add responsive background image */